{% extends "polls/base.html" %}
{% block title %} Question List {% endblock %}
<!--{% load static %}-->
<!--<link rel="stylesheet" href="{% static 'polls/style.css' %}">-->
{% block content %}
{% if latest_question_list %}
    <table class = 'table'>
        <tr>
            <th>Question</th>
            <th>Published Date</th>
        </tr>
        <tbody>
    {% for question in latest_question_list %}
        <tr>
        <th><a href="{% url 'polls:details' question.id %}">{{ question.question_text }}</a></th>
        <td>{{question.pub_date}}</td>
        </tr>
    {% endfor %}

        </tbody>
    </table>

{% else %}
    <p>No polls are available.</p>
{% endif %}
{% endblock %}